.score-container{
    .total-score{
        font-size:42px;
    }
    margin-top:20px;
    display:flex;
    justify-content: space-between;
    .title-graph-container{
        .score-container{
            display:flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.which-color{
    display: flex;
    align-items: center;
   
}